// 常量
$lx-primary-color: #00a971; // 全局主色
$lx-primary: #00a971;
$lx-link-color: #00a971; // 链接色
$lx-success-color: #52c41a; // 成功色
$lx-warning-color: #faad14; // 警告色
$lx-error-color: #f5222d; // 错误色
$lx-font-size-base: 14px; // 主字号
$lx-heading-color: rgba(0, 0, 0, 0.85); // 标题色
$lx-text-color: rgba(0, 0, 0, 0.65); // 主文本色
$lx-text-color-secondary: rgba(0, 0, 0, 0.45); // 次文本色
$lx-disabled-color: rgba(0, 0, 0, 0.25); // 失效色
$lx-border-radius-base: 0px; // 组件/浮层圆角
$lx-border-color-base: #d9d9d9; // 边框色
$lx-box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); //
$lx-min-width: 1200px; // 内容区域宽度
$lx-banner-title: 40px; // banner 标题文字大小
$lx-banner-button: 24px; // banner 按钮文字大小
$lx-banner-text: 16px; // banner 内容文字大小
$lx-m-top-1: 120px;
$lx-m-top-2: 80px;
$lx-m-top-3: 40px;