.main {
  background-color: blanchedalmond;
}

p.one::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 20px;
  background: blue;
}
p.two::before {
  content: '要插入的内容';
  color: red;
  font-size: 16px;
}
p.three::before {
  content: url('@/assets/code.png');
  width: 30px;
  height: 30px;
  position: relative;
  top: 8px;
}

p.three::after {
  content: '';
  background: url('@/assets/code.png') no-repeat bottom right / 32px 16px; /*兼容没测*/
  position: absolute;
  bottom: -15px;
  z-index: 2;
  width: 32px;
  height: 16px;
}

.click-container {
  top: 20px;
  left: 20px;
  width: 200px;
  height: 200px;
  position: relative;
  border: 1px solid red;
}

.click-container::after {
  position: absolute;
  content: '';
  top: -30px;
  bottom: -30px;
  left: -10px;
  right: -30px;
}
